MAP FUNCTION

map(FUNC,LIST) IS USED WHEN EACH ELEMENT OF A LIST OR A DATA MUST BE SENT TO THE FUNCTION

In [3]:
seq=[1,2,3,4,5,6]

In [4]:
def func1(num):
    return num*2

In [5]:
list(map(func1, seq))

[2, 4, 6, 8, 10, 12]

LAMBDA FUNCTION

WHEN WE NEED TO MAKE A FUNCTION AND ONLY NEED IT ONCE THEN WE USE LAMBDA FUNCTION

In [6]:
list(map(lambda num: num**2, seq))

[1, 4, 9, 16, 25, 36]

FILTER FUNCTION

AS THE NAME SUGGESTS THE FILTER FUNCTION FILTERS OUT THE BOOLEAN VALUE VIA SOME GIVEN LOGIC.

In [7]:
filter(lambda num: num%2==0,seq)

In [8]:
list(filter(lambda num: num%2==0, seq))

[2, 4, 6]

STRING FORMATING

In [9]:
S="my name is Burhanuddin"

In [10]:
S.lower()

'my name is burhanuddin'

In [11]:
S.upper()

'MY NAME IS BURHANUDDIN'

In [12]:
S.split()

['my', 'name', 'is', 'Burhanuddin']

In [13]:
STR="GO SPORTS #SPORTS"

In [14]:
STR.split(' ')

['GO', 'SPORTS', '#SPORTS']

In [15]:
STR.split('#')

['GO SPORTS ', 'SPORTS']

In [16]:
STR.split('#')[1]

'SPORTS'

In [17]:
STR.split('#')[0]

'GO SPORTS '

DICTIONARY METHODS

In [18]:
D={'K1':2,"K2":5}

In [19]:
D.keys()

dict_keys(['K1', 'K2'])

In [20]:
D.values()

dict_values([2, 5])

In [21]:
D.items()

dict_items([('K1', 2), ('K2', 5)])

LIST METHODS

In [22]:
LST=[1,2,3,4,5,6]

In [23]:
LST.append(9)

In [24]:
LST

[1, 2, 3, 4, 5, 6, 9]

In [25]:
LST.pop()

9

In [26]:
LST

[1, 2, 3, 4, 5, 6]

In [27]:
LST.pop(3)

4

In [28]:
LST

[1, 2, 3, 5, 6]

In [29]:
ITEM=LST.pop(1)

In [30]:
ITEM

2

In [31]:
LST

[1, 3, 5, 6]

in OPERATOR

USED TO CHECK IF SOMETHING IS IN SOMETHING

In [32]:
NAME=['ABC','DEF','GHI']

In [33]:
'x' in NAME

False

In [34]:
'ABC' in NAME

True

TUPLE UNPACKING

In [35]:
X=[(1,2),(3,4),(5,6)]

In [36]:
for a,b in X:
    print(a)
    print(b)

1
2
3
4
5
6