MULTILEVEL INDEXING

In [4]:
import numpy as np 
import pandas as pd
from numpy.random import randn
np.random.seed(100)

In [5]:
outside=['G1','G1','G1','G2','G2','G2']

In [6]:
inside=[1,2,3,1,2,3]

HERE WE HAVE ZIPPED ELEMENTS OF INSIDE WITH THE ELEMENTS OF OUTSIDE

AND THEN CONVERTED INTO LIST

In [7]:
hierarchy_index=list(zip(outside,inside))
hierarchy_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

THE NEXT CODE IS NOT BE WORRIED OF WILL NOT BE USED IN FUTURE

In [8]:
hierarchy_index=pd.MultiIndex.from_tuples(hierarchy_index)

In [9]:
df=pd.DataFrame(randn(6,2),hierarchy_index,['A','B'])
df

             A         B
G1 1 -1.749765  0.342680
   2  1.153036 -0.252436
   3  0.981321  0.514219
G2 1  0.221180 -1.070043
   2 -0.189496  0.255001
   3 -0.458027  0.435163

SELECTION OF ROWS USING INDEX

In [10]:
df.loc['G1']

          A         B
1 -1.749765  0.342680
2  1.153036 -0.252436
3  0.981321  0.514219

In [11]:
df.loc['G2']['A']

1    0.221180
2   -0.189496
3   -0.458027
Name: A, dtype: float64

SELECTING USING MULTIPLE INDICES

TO RETRIEVE USING MULTIPLE INDICES WE NEED TO USE .loc FUNCTION MULTIPLE TIMES

In [12]:
df.loc['G1'].loc[2]

A    1.153036
B   -0.252436
Name: 2, dtype: float64

TO FIND THE NAMES OF THE INDICES WE USE .index.names METHOD WITHOUT PARENTHESIS

In [13]:
df.index.names

FrozenList([None, None])

THE UPPER CODE SHOWS THE INDICES ARE NOT GIVEN NAMES

TO NAME INDICES AT ONCE WE CAN DO THIS

In [14]:
df.index.names=['Group','Num']

In [15]:
df

                  A         B
Group Num
G1    1   -1.749765  0.342680
      2    1.153036 -0.252436
      3    0.981321  0.514219
G2    1    0.221180 -1.070043
      2   -0.189496  0.255001
      3   -0.458027  0.435163

TO RETRIEVE DATA WITH MULTIPLE INDEXING

In [16]:
df.loc['G1'].loc[[2,3]][['A','B']]

            A         B
Num
2    1.153036 -0.252436
3    0.981321  0.514219

WHERE THERE ARE COMMON NAMES IN INDEX HIERARCHY AND WE WANT TO RETRIEVE THEM AT ONCE WE USE CROSS-SECTION METHOD

.xs(*index value*,level=*index name*)

In [17]:
df.xs(2,level='Num')

              A         B
Group
G1     1.153036 -0.252436
G2    -0.189496  0.255001

In [20]:
df.xs('G1')

            A         B
Num
1   -1.749765  0.342680
2    1.153036 -0.252436
3    0.981321  0.514219